.card-wrapper {
  margin: 1rem;
}
.card-box {
  max-width: 480px;
  min-width: 240px;
}
.card-title-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.card-content-wrapper-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content-wrapper-nowrap {
  display: flex;
  flex-flow: row nowrap;
}
.card-body-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}
.ant-statistic-content {
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
