.modal-title-box .ant-statistic-content {
  display: inline;
}
.modal-body-wrapper {
  display: flex;
  flex-flow: column;
}
.modal-filters-wraper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0.5rem 0.5rem;
}
.modal-select-box {
  width: 15rem;
}
.modal-chart-box {
  width: 100%;
  height: 300px;
}
#modal-check-group {
  display: flex;
  justify-content: center;
}
