.filters-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.filters-search-box {
  max-width: 15rem;
}
.filters-button-box {
  padding: 1rem;
}
.filters-select-box {
  width: 15rem;
}
